.square{
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    background-color: purple;
    transition-duration: .4s;
    border-radius: 25px;
}

.container{
    max-width: 600px;
    margin: 20px auto;
}

.elements{
    padding-top: 10px;
}

.stripes{
    background-color: white;
    height: 35px;
    text-align: center;
}

#diplayColorId{
    margin-top: 50%;
}
h1{
    background-color: #4682B4;
    text-transform: uppercase;
    text-align: center;
    font-family: inherit;
    margin: 0px;
    height: 100px;
    color: white;
}
body{
    background-color: black;
    margin: 0px 0px;
}

button{
    border: none;
    background: none;
    font-family: inherit;
    height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    transition-duration: .4s;
    outline: none;    
}

button:hover {
	color: white;
    background: steelblue;
    border: none;
}

#messageId{
    display: inline-block;
    width: 20%;
}

body{
    font-family: 'Gugi', cursive;
}

